.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    table.timetable_sub(style="width:100%")
        {header}
        thead
            tr
                {cols}{col}
                th Specification
                th Value
                {/}{/}
        {/}
        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
                {cols}
                td(style='white-space:nowrap') {$name}
                td {$value}
                {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}