.xepan-commerce-tool-cart(id='{$_name}' class='{$class}')
  {$Content}
  {cart_container}
  ul.nav.nav-tabs(role='tablist')
    li.dropdown(role='presentation')
      a#myTabDrop1.dropdown-toggle(href='#', data-toggle='dropdown', aria-controls='myTabDrop1-contents')
        span.xepan-commerce-cart-item-count  {total_count}0{/}
        |  - Items
        span.caret
      {lister_wrapper}
      ul#myTabDrop1-contents.dropdown-menu.dropdown-cart.xepan-cart(role='menu', aria-labelledby='myTabDrop1' style='width:320px;')
        {lister}
        .row
          .col-md-6 Item
          .col-md-5 Amount
          .col-md-1
        {rows}{row}
        .xepan-commerce-tool-cart-item-row(id='item-{$id}')
          .row
            .col-md-2
              {image_wrapper}
              img(alt='{image}{/}' src='{$image_url}' onerror="this.src='vendor/xepan/commerce/templates/view/tool/cart/images/not-found.png'")
              {/}
            .col-md-6
              {$name} ({$item_code})
              {custom_fields_wrapper}
              small {custom_field}
              div 
                small 
                {$id}: {$name}
              {/}{/}
            .col-lg-3
              {$sales_amount} ({qty_wrapper}{qty_form}{qty}0{/}{/}{/})
              button.btn.btn-xs.btn-info.pull-right.xepan-commerce-cart-item-delete(data-cartid='{$id}') x
        {/}{/}
        {/lister}
        {not_found}
        li.xepan-cart-empty
          {$not_found_message}
        {/}
        {footer}
        li.divider
        li
          a#dropdown1-tab(href='#dropdown1', tabindex='-1', role='tab', data-toggle='tab', aria-controls='dropdown1') 
            {sum_amount_excluding_tax_wrapper}
            .row
              .col-lg-6 Sum Amount
              .col-lg-6.text-right  {sum_amount_excluding_tax}{/}
            {/}
            {discount_voucher_wrapper}
            .row
              .col-lg-6 Apply Coupon
              .col-lg-6.text-right  {$discount_voucher}
            .row
              .col-lg-6 Discount Amount
              .col-lg-6.text-right  {$discount_amount}
            {/}
            {sum_shipping_charge_wrapper}
            .row
              .col-lg-6 Shipping Charge
              .col-lg-6.text-right {sum_shipping_charge}0.00{/}
            {/}
            {tax_amount_wrapper}
            .row
              .col-lg-6 Tax Amount
              .col-lg-6.text-right ₹ {tax_amount}tax_amount{/}
            {/}
            {total_amount_wrapper}
            .row
              .col-lg-6 Total Amount:
              .col-lg-6.text-right ₹ {net_amount}{/}
            {/}
        li.divider
        li
          a#dropdown2-tab(href='#dropdown2', tabindex='-1', role='tab', data-toggle='tab', aria-controls='dropdown2') 
            .row
              .col-md-6
                {cart_detail_btn_wrapper}
                .btn.btn-success.btn-block
                  a.text-center(href="{$cart_detail_url}") View Cart
                {/}
              .col-md-6
                {proceed_to_next_button_wrapper}
                .btn.btn-block.btn-primary.xepan-cart-proceed-to-next-btn Checkout
                {/}
        {/footer}
      {/lister_wrapper}
  {/}