
<div id="{$_name}" style="{$style}" class="{$class} row">{rows}{row}
  <div class="col-md-3 product-men">
    <div class="men-pro-item simpleCart_shelfItem">
      <div data-xsnb-item-id="{$id}" onclick="javascript:void(0);" class="men-thumb-item xepan-commerce-item">{image_wrapper}
        <div class="xepan-commerce-image-wrapper"><img src="{first_image}abc{/}" class="pro-image-front"/><img src="{first_image}abc{/}" class="pro-image-back"/></div>{/image_wrapper}
        <div class="men-cart-pro">
          <div class="inner-men-cart-pro"><a href="{$item_detail_page_url_via_image}" class="link-product-add-cart">Quick View</a></div>
        </div><span class="product-new-top">New</span>
      </div>
      <div class="item-info-product">
        <h4>{name_wrapper}
          <div class="xepan-commerce-item-name-wrapper"><a href="{item_detail_page_url_via_name}{/}" class="xepan-commerce-item-name">{$name}</a></div>{/}
        </h4>
        <div class="info-product-price">{sale_price_wrapper}<span class="item_price xepan-commerce-tool-item-sale-price">{$sale_price}</span>{/}
          {original_price_wrapper}
          <del class="xepan-commerce-tool-item-original-price">{$original_price}</del>{/}
          {shipping_charge_wrapper} 
          <div class="item_price xepan-commerce-tool-item-shipping-charge">{$shipping_charge} </div>{/}
          {description_wrapper}<small class="xepan-commerce-item-short-description">{$description}</small>{/}
          {specification_wrapper}<small>
            <div class="xepan-commerce-tool-item-specification">
              {specification}
              {rows}{row}
              {$name}
              {$value}
              {/}{/}
              {/specification}
            </div></small>{/}
        </div>{personalizedbtn_wrapper}<a data-xsnbitemid="{$id}" class="item_add single-item hvr-outline-out button2 commerce-personalize-button-wrapper">{$personalizedbtn}</a>{/}
        {addtocart_wrapper}<small>
          <div class="item_add single-item hvr-outline-out button2"></div>
          <div data-xsnbitemid="{$id}" data-name="{$name}" class="xepan-commerce-item-addtocart">{$Addtocart}</div></small>{/}
      </div>
    </div>
  </div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both" class="xepan-commerce-item-paginator">{$Paginator}</div>{/}
  <style>
    .xepan-commerce-item-addtocart span{
      font-size: 1.2em;
    }
  </style>
</div>